@model CoStar.Models.Whiteboard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Whiteboard</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WhiteboardImage)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.WhiteboardImage)" alt="Principle Image" height="500" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WhiteboardName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WhiteboardName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WhiteboardDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WhiteboardDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WhiteboardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
