@model IEnumerable<CoStar.Models.Whiteboard>

@{
    ViewData["Title"] = "Whiteboard Challenges";
}

<h1>Whiteboard Challenges</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WhiteboardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhiteboardDescription)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WhiteboardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhiteboardDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WhiteboardId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WhiteboardId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WhiteboardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
