@model IEnumerable<CoStar.Models.IntQuestion>

@{
    ViewData["Title"] = "Interview Questions";
}

<h1>Interview Questions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IntQuestionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntQuestionDescription)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (item.UserId == null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IntQuestionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IntQuestionDescription)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.IntQuestionId">Details</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IntQuestionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IntQuestionDescription)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.IntQuestionId">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.IntQuestionId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.IntQuestionId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
