@model IEnumerable<CoStar.Models.HelpfulLink>

@{
    ViewData["Title"] = "Helpful Links";
}

<h1>Helpful Links</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a>@Html.DisplayNameFor(model => model.LinkUrl)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkDescription)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="@Url.Content(item.LinkUrl.ToString());">View</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HelpfulLinkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HelpfulLinkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HelpfulLinkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
