@model CoStar.Models.Principle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Principle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrincipleImage)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.PrincipleImage)" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrincipleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrincipleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrincipleDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrincipleDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PrincipleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
