@model IEnumerable<CoStar.Models.Principle>

@{
    ViewData["Title"] = "Software Principles";
}

<h1>Software Principles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrincipleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrincipleDescription)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (item.UserId == null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrincipleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrincipleDescription)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.PrincipleId">Details</a>
                    </td>
                </tr>
            }
            else if (item.UserId != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrincipleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrincipleDescription)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.PrincipleId">Details</a> 
                        <a asp-action="Edit" asp-route-id="@item.PrincipleId">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.PrincipleId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
